{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mari+Fede{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <h1><a class="navbar-brand" href="/search">Mari + Fede</a></h1>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
         </div>
          <div class="collapse navbar-collapse navHeaderCollapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="info"><h3><a href="/info">Info</a></h3></li>
              <li class="map"><h3><a href="/map">Mapa</a></h3></li>
              <li class="search"><h3><a href="/search">Busca y Vota</a></h3></li>
              <li class="choices"><h3><a href="/choices">Los Votos de {{user.username}}</a></h3></li>
              <li class="votes"><h3><a href="/votes">Votación</a></h3></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li class="active"><a href="/logout">Salir</a></li>
              {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="/login">Entrar</a></li>
              <li><a href="/signup">Registrate</a></li>
            </ul>
              {% endif %}
            </div>
        </div>
    </div>

   {% block no_container %}
    <div class="container">

      <h1>
      {% block page_title %}
      {% endblock page_title %}
      </h1>

      {% block content %}
      <div class="jumbotron" style="border-style:dashed; border-width:3px;">
          <h1 style="text-transform:uppercase;">
              El 23 de agosto nos casamos y queremos bailar contigo...
          </h1>
          <div style="margin-left:auto; margin-right:auto; max-width:300px;
              text-align:center; margin-top:48px;">
              <a class="btn btn-lg btn-theme" href="/login">Entrar</a>
              <a class="btn btn-lg" href="/signup">Registrate</a>
          </div>
      </div>
      {% endblock content %}

    </div> <!-- /container -->
    {% endblock no_container %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
