{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
My Votes
{% endblock %}

{% block main %}

<!--
    <form class="vote" method="post" action="{#% url 'musicpolls.views.vote' %#}">
    <fieldset>
        <legend>{#% trans "Views Vote" %#}</legend>

        {#% csrf_token %#}

        <div>{#{form|crispy}#}</div>
        <div class="ctrlHolder">
            <button type="submit">{#% trans "Vote" %#}</button>
        </div>

        <input type="hidden" name="next" value="{#{next}#}" />

    </fieldset>
    </form>
    <hr />

    <p>
-->

    <form id="removechoice" class="removechoice" method="post" action="">
    <fieldset>

        {% csrf_token %}

        <div>{{form|crispy}}</div>

        <input type="hidden" name="next" value="{{next}}" />

    </fieldset>
    </form>
    <h3>Votos<h3>
    <ul>
        {% for choice in object_list %}
        <li class="vote results"><a class="choice" href={{choice.song.lasturl}} >
            <img class="smallimg" src={{ choice.song.photourl }}>
            {{ choice.song.name }} - {{ choice.song.artist }}</a>
        <a class="remove btn btn-danger hidden" href=/{{choice.id}}/removechoice>Delete</a> 
        </li>
        {% endfor %}
    </ul>

    <div class="sep">&nbsp;</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

$(document).ready(function() {

$('li.vote').on('mouseover', function() {
    $(this).find('a.remove').removeClass('hidden') ;
})
.on('mouseout', function() {
    $(this).find('a.remove').addClass('hidden') ;
});
            });
//    $('#dynamic-content').load('/songlistjson');
/*    $('body').on('click', '.remove', function () {
        var id = $(this).attr('data-id');
         $('#id_pk').val(id);
         document.getElementById("removechoice").action = id+"/removechoice";
         document.getElementById("removechoice").submit();
    });
    */
</script>

{% endblock %}
