{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title%}
Search
{% endblock %}
{% block main %}

   <form class="form-search" action="/wphmusic/" id="searchForm">
   <input class="search-query" type="text" name="s" placeholder="Search..." />
   <button class="btn" type="submit" value="Search" >Search</button>
   </form>

    <form id="addsong" class="addsong" method="post" action="{% url 'search' %}">
    <fieldset>

        {% csrf_token %}

        <div>{{form|crispy}}</div>

        <input type="hidden" name="next" value="{{next}}" />

    </fieldset>
    </form>

<ul id="dynamic-content"></ul>
<ul id="result"></ul>
    <p>
    <div class="sep">&nbsp;</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var lista = (function () {
    var json = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '/songlistjson',
        'dataType': "json",
        'success': function (data) {
            json = data;
        }
    });
    return json;
})(); 

$(document).ready(function() {
//    $('#dynamic-content').load('/songlistjson');
    $('body').on('click', '.filldata', function () {
         $('#id_name').val($(this).parent().attr('data-name'));
         $('#id_artist').val($(this).parent().attr('data-artist'));
         $('#id_lasturl').val($(this).parent().attr('data-url'));
         document.getElementById("addsong").submit();
    });
});

$("#searchForm").submit(function(event) {

    event.preventDefault(); 

    var $form = $( this ),
        term = $form.find( 'input[name="s"]' ).val(),
        url = $form.attr( 'action' );

    $("#result").empty();

    var fmurl = 'http://ws.audioscrobbler.com/2.0/?method=track.search&track=' + term + '&api_key=764d317cf1b9e5138294c20d70da74ef&format=json&callback=?';
    $.getJSON(fmurl, function(data) {
        var html = '';
        $.each(data.results.trackmatches.track, function(i, item) {
            images = item.image
                var already_added = false;
                var pk = false;
            $.each(lista, function(i, listitem){
                if (listitem.fields.lasturl == item.url){
                    already_added = true;
                    pk = listitem.pk;
                    }
                });
                html += "<li data-name=\"" + item.name + "\" data-artist=\"" +item.artist+ "\" data-url=\""+ item.url+"\"";
                if (already_added){
                    html += " data-id="+pk;
                 }
                html += "><a href=\""+item.url+"\">"
                if (images != undefined && images[2]['#text'] != undefined){
                    imageurl=images[2]['#text']; 
                    html += "<img src=\"" +imageurl+ "\" />"
                }
                html += item.name + " - " + item.artist ;
                if (already_added){
                    html += "</a> <a href='/vote' class=\"btn fillvote btn-danger\">Already Added!</a>  </li>";
                 }else{
                    html += "</a> <button class=\"btn filldata\">Add!</button>  </li>";
                    }
               // });
    });
        $('#result').append(html);

    });
});

</script>
{% endblock %}
