{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title%}
Search and Vote
{% endblock %}
{% block main %}

   <form class="form-search" action="/wphmusic/" id="searchForm">
   <input class="search-query" type="text" name="s" placeholder="Search..." />
   <button class="btn" type="submit" value="Search" >Search</button>
   </form>

    <form id="addsong" class="addsong" method="post" action="{% url 'search' %}">
    <fieldset>

        {% csrf_token %}

        <div>{{form|crispy}}</div>

        <input type="hidden" name="next" value="{{next}}" />

    </fieldset>
    </form>

<ul id="dynamic-content"></ul>
<ul id="result" class="results"></ul>
    <p>
    <div class="sep">&nbsp;</div>
{% endblock %}

{% block extra_css %}
<style>
img.smallimg{width:126px; height:126px;padding-right:12px;}
li.results{list-style-type: none;
padding-top: 12px;
}

</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var mylista = (function () {
    var json = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '/mysonglistjson',
        'dataType': "json",
        'success': function (data) {
            json = data;
        }
    });
    return json;
})(); 

var lista = (function () {
    var json = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '/songlistjson',
        'dataType': "json",
        'success': function (data) {
            json = data;
        }
    });
    return json;
})(); 

$(document).ready(function() {
//    $('#dynamic-content').load('/songlistjson');
    $('body').on('click', '.filldata', function () {
         $('#id_name').val($(this).parent().attr('data-name'));
         $('#id_artist').val($(this).parent().attr('data-artist'));
         $('#id_lasturl').val($(this).parent().attr('data-url'));
         $('#id_pk').val($(this).parent().attr('data-id'));
         document.getElementById("addsong").submit();
    });
    $('body').on('click', '.fillvote', function () {
         $('#id_name').val($(this).parent().attr('data-name'));
         $('#id_artist').val($(this).parent().attr('data-artist'));
         $('#id_lasturl').val($(this).parent().attr('data-url'));
         $('#id_pk').val($(this).parent().attr('data-id'));
         document.getElementById("addsong").submit();
    });
});

$("#searchForm").submit(function(event) {

    event.preventDefault(); 

    var $form = $( this ),
        term = $form.find( 'input[name="s"]' ).val(),
        url = $form.attr( 'action' );

    $("#result").empty();

    var fmurl = 'http://ws.audioscrobbler.com/2.0/?method=track.search&track=' + term + '&api_key=764d317cf1b9e5138294c20d70da74ef&format=json&callback=?';
    $.getJSON(fmurl, function(data) {
        var html = '';
        $.each(data.results.trackmatches.track, function(i, item) {
            images = item.image
                var already_added = false;
                var already_voted = false;
                var pk = false;
                var count = 0;
            $.each(mylista, function(i, listitem){
                if (listitem.lasturl == item.url){
                    already_voted = true;
                    pk = listitem.id;
                    }
                });
            $.each(lista, function(i, listitem){
                if (listitem.lasturl == item.url){
                    already_added = true;
                    pk = listitem.id;
                    count = listitem.count;
                    }
                });
                html += "<li class=\"results\" data-name=\"" + item.name + "\" data-artist=\"" +item.artist+ "\" data-url=\""+ item.url+"\"";
                if (already_added){
                    html += " data-id="+pk+" data-count=" +count
                 }
                html += "><div class="song"><a class="last" href=\""+item.url+"\">"
                if (images != undefined && images[2]['#text'] != undefined){
                    imageurl=images[2]['#text']; 
                    html += "<img class=\"smallimg\" src=\"" +imageurl+ "\" />"
                }
                html += item.name + " - " + item.artist ;
                if (already_voted){
                    html += "</a> <button class=\"btn btn-danger\"> You already voted!</button>";
                }
               else if (already_added){
                    html += "</a> <button class=\"btn fillvote btn-success\">"+count+" already voted!</button>";
                 }else{
                    html += "</a> <button class=\"btn filldata\">Vote!</button>";
                    }
               // });
               html += "</div></li>"
    });
        $('#result').append(html);

    });
});

</script>
{% endblock %}
