{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}

   <form action="/wphmusic/" id="searchForm">
   <input type="text" name="s" placeholder="Search..." />
   <input type="submit" value="Search" />
   </form>

    <form id="addsong" class="addsong" method="post" action="{% url 'search' %}">
    <fieldset>
        <legend>{% trans "Add song" %}</legend>

        {% csrf_token %}

        <div>{{form|crispy}}</div>

        <input type="hidden" name="next" value="{{next}}" />

    </fieldset>
    </form>
    <hr />

<ul id="result"></ul>
    <p>
    <div class="sep">&nbsp;</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

$(document).ready(function() {
    $('body').on('click', '.filldata', function () {
         $('#id_name').val($(this).parent().attr('data-name'));
         $('#id_artist').val($(this).parent().attr('data-artist'));
         $('#id_lasturl').val($(this).parent().attr('data-url'));
         document.getElementById("addsong").submit();
    });
});

$("#searchForm").submit(function(event) {

    event.preventDefault(); 

    var $form = $( this ),
        term = $form.find( 'input[name="s"]' ).val(),
        url = $form.attr( 'action' );

    $("#result").empty();

    var fmurl = 'http://ws.audioscrobbler.com/2.0/?method=track.search&track=' + term + '&api_key=764d317cf1b9e5138294c20d70da74ef&format=json&callback=?';
    $.getJSON(fmurl, function(data) {
        var html = '';
        $.each(data.results.trackmatches.track, function(i, item) {
            images = item.image
            if (images != undefined && images[2]['#text'] != undefined){
                imageurl=images[2]['#text']; 
                html += "<li data-name=\"" + item.name + "\" data-artist=\"" +item.artist+ "\" data-url=\""+ item.url+ "\"><a href=\""+item.url+"\"><img src=\"" +imageurl+ "\" />" + item.name + " - " + item.artist + "</a> <button class=\"filldata\">Add!</button>  </li>";
            }else{
            html += "<li><a href="+item.url+">" + item.name + " - " + item.artist + "</a></li>";
            }
    });
        $('#result').append(html);

    });
});

</script>
{% endblock %}
