{% extends "content.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title%}
     {% trans "Entrar" %}
{% endblock %}

{% block main %}

<div class="jumbotron">
    <form class="login" method="post" action="{% url 'django.contrib.auth.views.login' %}">

        {% csrf_token %}

        <div>{{form|crispy}}</div>
        <div class="ctrlHolder">
            <button class="btn btn-primary" type="submit">{% trans "Entrar" %}</button>
        </div>

        <input type="hidden" name="next" value="{{next}}" />

    </form>
    <hr />

    <p class="right">
        <a href="{% url 'signup' %}">
        {% trans "Registrate" %}</a>
    </p>
</div>
{% endblock %}
